# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.venv/
env/
venv/
.env

# AI
.claude/
.gemini/
.codex/
AI.md
CLAUDE.md
GEMINI.md
AGENTS.md

# Project specific data
tessdata/
base_*
rom/
!rom/put font rom here.txt
cache_corpus/

