# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.venv/
env/
venv/
.env

# AI
.claude/
.gemini/
.codex/
AI.md
CLAUDE.md
GEMINI.md
AGENTS.md

# Project specific data
.cache_corpus/
tessdata/*
!tessdata/pc98.traineddata
input_screenshots/*.png
!input_screenshots/screen_1.png
base_*/
